In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
project_directory = '/content/drive/MyDrive/UW.8740/CustomerChurn/'
project_directory

'/content/drive/MyDrive/UW.8740/CustomerChurn/'

In [3]:
ls /content

sample_data/

In [ ]:
ls /content/drive

MyDrive/  Shareddrives/

In [ ]:
ls /content/drive/MyDrive/PYTHON-DEMO/CustomerChurn

Churn-Demo-EDA.ipynb  Churn-Modelling.csv
Churn-Load.ipynb      Churn-Modelling.xlsx

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(project_directory+'/Churn-Modelling.xlsx')

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0