In [1]:
import pandas as pd
import numpy as np

In [2]:
volunteer = pd.read_csv("../Intro to Data Preprocessing/Datasets/volunteer_opportunities.csv")

In [7]:
volunteer.head()

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,January 29 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,March 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 05 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
volunteer['start_date_converted'] = pd.to_datetime(volunteer['start_date_date'])

In [9]:
volunteer['start_date_month'] = volunteer['start_date_converted'].dt.month

In [12]:
pd.DataFrame(volunteer['title'])

                                                 title
0    Volunteers Needed For Rise Up & Stay Put! Home...
1                                         Web designer
2        Urban Adventures - Ice Skating at Lasker Rink
3    Fight global hunger and support women farmers ...
4                                        Stop 'N' Swap
..                                                 ...
660          Volunteer for NYLAG's Food Stamps Project
661    Iridescent Science Studio Open House Volunteers
662                                  French Translator
663                  Marketing & Advertising Volunteer
664  Volunteer filmmakers to help Mayor's Office wi...

[665 rows x 1 columns]