In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
candy = pd.read_csv('../ModelValidation/Dataset/candy-data.csv')

In [3]:
candy.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [4]:
candy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   competitorname    85 non-null     object
 1   chocolate         85 non-null     int64
 2   fruity            85 non-null     int64
 3   caramel           85 non-null     int64
 4   peanutyalmondy    85 non-null     int64
 5   nougat            85 non-null     int64
 6   crispedricewafer  85 non-null     int64
 7   hard              85 non-null     int64
 8   bar               85 non-null     int64
 9   pluribus          85 non-null     int64
 10  sugarpercent      85 non-null     float64
 11  pricepercent      85 non-null     float64
 12  winpercent        85 non-null     float64
dtypes: float64(3), int64(9), object(1)
memory usage: 8.8+ KB

In [5]:
candy.nunique()

competitorname      85
chocolate            2
fruity               2
caramel              2
peanutyalmondy       2
nougat               2
crispedricewafer     2
hard                 2
bar                  2
pluribus             2
sugarpercent        34
pricepercent        29
winpercent          85
dtype: int64